<section id="minicart" class="minicart">
  <header>
    <h2>Cart</h2>
    <button type="button">
      <img src="{{ 'close.svg' | asset_url }}" />
    </button>
  </header>

  <div class="minicart__items">
    <div class="minicart__product">
      <div class="minicart__image">
        <img src="{{ 'close.svg' | asset_url }}" />
      </div>

      <div class="minicart__description">
        <h3 class="title">Balmain Clutch</h3>
        <h3 class="size">One Size / Black</h3>

        <div class="minicart__form">
          <form>
            <input type="text" />
            <p>$699.00</p>
          </form>
        </div>
      </div>
    </div>

    <div class="minicart__product">
      <div class="minicart__image">
        <img src="{{ 'close.svg' | asset_url }}" />
      </div>

      <div class="minicart__description">
        <h3 class="title">Balmain Clutch</h3>
        <h3 class="size">One Size / Black</h3>

        <div class="minicart__form">
          <form>
            <input type="text" />
            <p>$699.00</p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="minicart__note">
    <h4>Order Note</h4>
    <div class="minicart__form--note">
      <form>
        <textarea placeholder="Eg: Thank you"></textarea>
      </form>
    </div>
  </div>

  <div class="minicart__checkout">
    <div class="minicart__subtotal">
      <h4>Subtotal</h4>
      <span>$1,398.00</span>
    </div>
    <p>
      Shipping, taxes, and discounts codes calculated at checkout.
    </p>
    <button type="button">
      Check out
    </button>
  </div>
</section>